{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <h1>Reset your password.</h1>
    {% if validlink %}
        <h1>{{ validlink }}</h1>
        <p>Please enter your new password twice:</p>
        <form method="post" >

            <p><input type="submit" value="Change my password"></p>
            {{ form.as_p }}
            {% csrf_token %}
        <!--
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
            !-->
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}